*{
    margin: 0;padding: 0;box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.line-through{
    text-decoration: line-through;
}

.tasks{
    min-width: 250px;
    background-color: rgba(211, 211, 211, 0.5);
    box-shadow: 0 0 5px lightgray;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-top: 2rem;
    
}

.tasks>h3{
    text-align: center;
}

.todo_list{
    padding: 0;
}

.todo_list>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo_list>li:hover{
    background-color: rgba(154, 237, 143, 0.465);
    border-radius: 2rem;
}

#logo{
    width: 70px;
}

.c_green{
    color: green;
}

.c_blue{
    color: blue;
}

.c_red{
    color: red;
}

.d_none{
    display: none;
}

.empty_trash{
    position: absolute;
    right: -1rem;
    bottom: 1rem;
}

.empty_trash:hover{
    color: gray
}